* {
    padding: 0;
    margin: 0;
    font-family: Arial;
    font-size: 15px;
    list-style: none;
    text-decoration: none;
}

h1 {
    font-size: 25px;
    text-align: center;
    margin-top: 50px;
    margin-left: 30px;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    background-color: #282a36;
}

header a {
    color: #f8f8f2;
}

#logo:hover {
    color: #ff79c6;
}

#menu {
    display: flex;
}

#menu li {
    margin-left: 10px;
}

#menu li a {
    display: block;
    padding: 10px;
    transition: all .1s ease;
}

#menu li a:hover {
    border-bottom: solid 3px #bd93f9;
}

img {
    width: 100%;
    display: block;
}

.center-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#list-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1280px;
}

#list-flex > div {
    flex: 1 1 300px;
    margin: 10px;
    max-width: 300px;
}

#list-flex > div > p {
    margin-top: 5px;
}